.device__detail-page {
    position: relative;
    width: 100%;
    height: 100vh;
}

.device__detail-page h1 {
    display: absolute;
    transform:translate(17%, 160px);  
    color: var(--text-primary-color);
}

.device__detail {
    position: absolute;
    width: 77.2%;
    height: 604px;  
    left: 55%;
    top: 228px;
    transform: translateX(-50%); 
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;
}

.device__detail h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 16px;
    color: var(--text-primary-color);
}

.device__detail-row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.device__detail-row:nth-child(5) {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
}

.device__detail-row-service-detail{
    margin: 9px 20px 20px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #535261;
}

.device__detail-column {
    display: flex;
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
} 

.device__detail-column p{
   margin-left:43px ;
   font-weight: 400;
   color: #535261;
}