
.content-dashboard__header-dashboard{
    display: flex;
    justify-content: space-between;
}

.content-dashboard__header-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;
    margin-left: 50px;
}

.content-dashboard__header-user-dashboard {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100vh;
    background-color: #FFF;
}


.content-dashboard__header-user-avatar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 0;
    margin-top: 28px;
}

.content-dashboard__header-user-avatar ul {
    margin-left: 15px;
    list-style: none;
}

.content-dashboard__header-user-infor {

}

.content-dashboard__header-user-avatar-bell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    width: 42px;
    height: 42px;
    background: #FFF2E7;
    border-radius: 32px;
}

.content-dashboard__header-user-avatar-bell i {
    color: #FFAC6A;
}

.content-dashboard__header-user-avatar-img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 48px;

}

.content-dashboard__header-user-avatar-infor {
    position: absolute;
    right: 140px;
    list-style: none;
}

.content-dashboard__header-user-avatar-infor--hello,
.content-dashboard__header-user-avatar-infor--name,
.content-dashboard__header-title  {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

.content-dashboard__header-title {
    margin-top: 28px;
}

.content-dashboard__header-user-avatar-infor--hello {
    width: 47px;
    height: 18px;
    right: 77px;
    top: 0px;
    color: #7E7D88;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.content-dashboard__header-user-avatar-infor--name {
    width: 150px;
    height: 24px;
    right: 0px;
    top: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.content-dashboard__header-user-overview {
    position: absolute;
    top: 15%;
}

.content-dashboard__header-user-overview-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--text-primary-color);
    margin-bottom: 12px;
}

.content-dashboard__header-user-overview-statistical {
    width: 454px;
    height: 83px;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

.content-dashboard__header-user-overview-statistical-multiple {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 227px;
}

.content-dashboard__header-user-overview-statistical-multiple-state {
    text-align: left;
    justify-content: space-between;
}

.content-dashboard__header-user-overview-statistical p {
    margin-bottom: 5px;
}

.content-dashboard__header-user-overview-statistical-data p:first-child{
    font-weight: 600;
    font-size: 24px;
}

.content-dashboard__header-user-overview-statistical-data-device,
.content-dashboard__header-user-overview-statistical-data-number,
.content-dashboard__header-user-overview-statistical-data-service{
    display: flex;
    align-items: center;
    transform: translateX(-30px);
    font-size: 14px;
}

.content-dashboard__header-user-overview-statistical-data-device {
    color: var(--text-primary-color);
}

.content-dashboard__header-user-overview-statistical-state-data {
    width: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.content-dashboard__header-user-overview-statistical-device-state-data {
    color: var(--text-primary-color);
}

.content-dashboard__header-user-overview-statistical-service-state-data,
.content-dashboard__header-user-overview-statistical-data-service {
    color: #4277FF;
}

.content-dashboard__header-user-overview-statistical-number-state-data, 
.content-dashboard__header-user-overview-statistical-data-number {
    color: #35C75A;
}

.dot-yellow::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #FFD130;
}
  
.dot-green::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #35C75A;
}

.dot-purple::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: purple;
}

.dot-pink::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #F178B6;
}

.dot-blue::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #4277FF;
}

.content-dashboard__header-user-overview-calendar {
    width: 353px;
    height: 336px;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
}

.content-dashboard__header-user-overview-statistical-percent {
    position: relative;
    width: 60px;
    height: 60px;
    background: conic-gradient(#FF7506 324deg , #EAEAEC 0deg);
    border-radius: 50%;
    
}

.content-dashboard__header-user-overview-statistical-percent-service {
    background: conic-gradient(#4277FF 273.6deg , #EAEAEC 0deg) !important;
}

.content-dashboard__header-user-overview-statistical-percent-number {
    background: conic-gradient(#35C75A 309.6deg , #EAEAEC 0deg) !important;
}

.content-dashboard__header-user-overview-statistical-percent--outer {
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 3px;
    border-radius: 50%;
    background-color: #FFF;
}

.content-dashboard__header-user-overview-statistical-percent--inner {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 3px;
    background: conic-gradient(#7E7D88 40deg , #EAEAEC 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-dashboard__header-user-overview-statistical-percent--first-inner-number {
    position: absolute;
    width: 42px;
    height: 42px;
    margin: 3px;
    border-radius: 50%;
    background-color: #FFF;
}

.content-dashboard__header-user-overview-statistical-percent--second-inner-number {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 3px;
    background: conic-gradient(#F178B6 30deg , #EAEAEC 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-dashboard__header-user-overview-statistical-percent--second-inner-number::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFF;
}

.content-dashboard__header-user-overview-statistical-percent--inner-service {
    background: conic-gradient(#7E7D88 90deg , #EAEAEC 0deg) !important;
}

.content-dashboard__header-user-overview-statistical-percent--inner-number {
    background: conic-gradient(#7E7D88 60deg , #EAEAEC 0deg) !important;
}

.content-dashboard__header-user-overview-statistical-percent--inner::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #FFF;
} 

.content-dashboard__header-user-overview-statistical-percent-value {
    position: relative;
    font-weight: 600;
    font-size: 14px;
}

.content-dashboard__header-user-overview-statistical-percent--outer-number {

}