.dot-red::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #EC3740;
}
  
.dot-green::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #35C75A;
}

.dot-purple::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: purple;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 490px;
    border-radius: 8px;
    overflow: hidden;
}
  
th, td {
    border-right: 1px solid #FFF2E7;
    padding: 16px;
    text-align: left;
    height: 49px;
    box-sizing: border-box;
}
  
th {
    background-color: #FF9138;
    color: white;
    font-weight: bold;
}
  
th.th-report-table:first-child {
    width: 150px;
}
  
.th-report-table:nth-child(2) {
    width: 224px;
}
  
.th-report-table:nth-child(3) {
    width: 230px;
}
  
.th-report-table:nth-child(4) {
    width: 253px;
}
  
  
.th-report-table:nth-child(5),
.th-report-table:nth-child(6) {
    width: 125px;
}
  

tr:nth-child(even) {
    background-color: #FFF2E7;
}
  
tr:nth-child(odd) {
    background-color: white;
}
