.dot-red::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #EC3740;
}
  
.dot-green::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: #35C75A;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 490px;
    border-radius: 8px;
    overflow: hidden;
}
  
th, td {
    border-right: 1px solid #FFF2E7;
    padding: 16px;
    text-align: left;
    height: 49px;
    box-sizing: border-box;
}
  
th {
    background-color: #FF9138;
    color: white;
    font-weight: bold;
}
  
th.th-account-table:first-child {
    width: 150px;
}
  
.th-account-table:nth-child(2) {
    width: 166px;
}
  
.th-account-table:nth-child(3) {
    width: 130px;
}
  
.th-account-table:nth-child(4) {
    width: 255px;
}
  
  
.th-account-table:nth-child(5){
    width: 110px;
}

.th-account-table:nth-child(6) {
    width: 193px;
}
  
.th-account-table:nth-child(7) {
    width: 99px;
}

tr:nth-child(even) {
    background-color: #FFF2E7;
}
  
tr:nth-child(odd) {
    background-color: white;
}
