

.forget_page{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #F7F7F7;
}

.forget-form{
    padding-left: 170px;
    padding-top: 100px;
    text-align: center;
}

.form-input-forget{
    margin-top: 80px;
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.form-group-forget {
    text-align: center;
}

.form-group-forget h2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.form-group-forget label{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
}

.logo-alta img {
    max-width: 45%;
    max-height: 50%;
}

.form-control-forget{
    position: relative;
    width: 400px;
    height: 44px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 8px;
    margin-top: 4px;
}

.btn{
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 520;
    font-size: 16px;
    line-height: 24px;
}

.btn-cancel,
.btn-accept {
    margin: 40px 10px 10px 10px ;
}


.forget-image{
    display: inline-flex;
    width: 58%;
    background-color: #fff;

}

