

.reset__password-page{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #F7F7F7;
}

.reset-form{
    padding-left: 170px;
    padding-top: 100px;
    text-align: center;
}

.form-input-reset-password{
    margin-top: 80px;
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.form-group-reset-password {
    text-align: left;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.form-group-reset-password:last-child{
    margin-top: 20px;
}

.form-group-reset-password h2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}

.form-group-reset-password label{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    
}

.logo-alta img {
    max-width: 45%;
    max-height: 50%;
}

.form-control-reset-password{
    position: relative;
    width: 400px;
    height: 44px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 8px;
    margin-top: 4px;
}

.from-control__pass-reset-password{
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.eye-off-reset-password, 
.eye-reset-password{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}



.reset-image{
    display: inline-flex;
    width: 58%;
    background-color: #fff;

}

.btn-reset-password {
    margin-top: 20px;
}

