.device__update {
    position: relative;
    width: 100%;
}

.device__update h1 {
    display: absolute;
    transform:translate(17%, 160px);  
    color: var(--text-primary-color);
}

.device__update-infor{
    position: absolute;
    width: 77.2%;
    height: 550px;  
    left: 55%;
    top: 228px;
    transform: translateX(-50%); 
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;
}

.device__update-btn {
    position: absolute;
    left: 38%;
    transform: translateY(100px);
    display: inline-flex;
    justify-content: center;
}

.device__update-btn input {
    margin: 16px;
    width: 147px;
    height: 48px;
}

.device__update-infor h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 16px;
    color: var(--text-primary-color);
}

.device__update-infor-row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.device__update-infor-column,
.device__update-infor-column-other {
    font-weight: 550;
    font-size: 16px;
}

.device__update-infor-column,
.device__update-infor-column-list {
    width: 50%;
}

.device__update-infor-column-other {
    width: 100%;
}

.device__update-infor-column-title,
.device__update-infor-column-other-title,
.device__update-infor-column-other-sub  {
    display: inline-flex;
    height: 24px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.device__update-infor-column-title p,
.device__update-infor-column-other-title p {
    position: absolute;
    top: 4px;
    right: -8px;

    
}

.device__update-infor-column p,
.device__update-infor-column-other p {
    color: var(--text-primary-color);
}

.device__update-infor-column input {
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    padding-left: 16px;
    margin-top: 8px;
    border: 1px solid var(--border-color) ;
    border-radius: 8px;
    opacity: 0.7;
    box-sizing: border-box;
    
}

.device__update-infor-column-input {
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    margin-top: 8px;
    border: 1px solid var(--border-color) ;
    border-radius: 8px;
    box-sizing: border-box;
}

.device__update-infor-column-input p{
    font-weight: 450;
    color:gray;
    margin-left: 16px;
    opacity: 0.7;
}

.device__update-infor-column:first-child {
    margin-right: 12px;
}

.device__update-infor-column:last-child {
    margin-left: 12px;
}

.device__update-infor-column-other div:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #7E7D88;
    margin-top: 8px;
}

.device__update-infor-column-other-title {
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    position: relative;
}


.device__update-infor-column-other-sub{
    position: relative;
    padding-top: 10px;
}

.device__update-infor-column-other-sub p{
   position: absolute;
   left: -8px;
   top: 13px;
    
}

.device__update-infor-column-input {
    position: relative;
}

.device__update-infor-column i,
.device__update-infor-column-list{
    position: absolute;
    
}

.device__update-infor-column i {
    right: 3%;
    top: 19%;
    color: var(--primary-color);
    cursor: pointer;
}

.device__update-infor-column-input{
    position: relative;
}
/* .device__update-infor-column-list::before{
    content: "";
    height: 8px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
} */
.device__update-infor-column-list,
.device__update-infor-column-list-other{
    position: absolute;
    display: none;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: #FFFFFF;
    z-index: 100;
}

.device__update-infor-column-list-type {
    height: 106px;
}

.device__update-infor-column-input:hover .device__update-infor-column-list{
    display:block;
}

.device__update-infor-column-input:hover .device__update-infor-column-icon {
    transform: rotate(180deg);
}

.device__update-infor-column-list ul,
.device__update-infor-column-list-other ul{
    list-style: none;
    margin-top: 9px;
}

.device__update-infor-column-list li,
.device__update-infor-column-list-other li {
    height: 44px;
    line-height: 44px;
    padding-left: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #282739;
    cursor: pointer;
}

.device__update-infor-column-list-item:hover {
    background: #FFF2E7;
}

.device__update-infor-column-list-item:last-child {
    margin-bottom: 9px;
}

.device__update-infor-column-input:hover {
    border: 1px solid var(--primary-color);
}

.device__update-infor-column-list-other {
    top: 85%;
    height: 152px; 
    overflow: auto;
} 

.device__update-infor-column-list-other {
    display: none;
}

.device__update-infor-column-list-other::-webkit-scrollbar {
    width: 4px;
}

.device__update-infor-column-list-other::-webkit-scrollbar-thumb {
    background-color: #FFAC6A;
    border-radius: 9px;
}

